<?xml version="1.0" ?>
<launch>
	<arg name="frameID"  default = "wide_camera" />
	<arg name="frameTopic"  default = "wide/image_raw" />


	<node name="stereo_record_node" pkg="flea3" type="stereo_record_node" output="screen" >
    <param name="left/Guid" value="15231263" />
    <param name="right/Guid" value="15231302" />
    <param name="image/width" value="1280" />
    <param name="image/height" value="1024" />
    <param name="shutter_speed" value="0.3" />
    <param name="publish/frequency" value="50" />
    <param name="publish/frame_id" value="$(arg frameID)" />
    <param name="publish/topic_name" value="$(arg frameTopic)" />

    <param name="roi/upbound" value="0" />
    <param name="roi/downbound" value="0" />

	</node>

</launch>
