<?xml version="1.0" ?>
<launch>
	<arg name="left_yaml" value="file://$(find flea3)/long_left.yaml" />
	<arg name="right_yaml" value="file://$(find flea3)/long_right.yaml" />
	<arg name="visualization" value="true" />
	<arg name="isauto" value="true" />

	<node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
		<param name="port" value="/dev/ttyACM0" />
		<param name="baud_rate" value="115200" />
	</node>

	<node name="stereo_record_node" pkg="flea3" type="stereo_record_node" output="screen" >
	    <!-- <param name="left/Guid" value="15231263" />   remote 16243866  |    right  15231263    -->
	<param name="left/Guid" value="16243866" />
    <param name="right/Guid" value="15231263" />

	<param name="cvmat_show" value="$(arg visualization)" />
	<param name="auto_shutter" value="$(arg isauto)" />
	<param name="showfrequency_ratio" value="2" />
	<!--  under visualization true: show every ratio frames! -->
	<param name="image/width" value="1280" />
	<param name="image/height" value="1024" />
	<param name="shutter_speed" value="0.5" />
	<param name="publish/frequency" value="50" />
	<!--<param name="publish/frame_id" value="$(arg frameID)" />-->
	<!--<param name="publish/topic_name" value="$(arg frameTopic_combined)" />-->

	<param name="publish/left_topic"            value="long/left/image_raw" />
	<param name="publish/left_frame_id"         value="long_camera" />

	<param name="publish/right_topic"           value="long/right/image_raw" />
	<param name="publish/right_frame_id"        value="long_camera" />

	<param name="calibration/left_yml"           value="$(arg left_yaml)" />
	<param name="calibration/right_yml"           value="$(arg right_yaml)" />
	<param name="calibration/cam_left_name"      value="long/left" />
	<param name="calibration/cam_right_name"      value="long/right" />

	<param name="roi/upbound" value="60" />
	<param name="roi/downbound" value="120" />

	</node>

	<node pkg="rosbag" type="record" name="rosbag_record_cam" required="true" output="screen"
	args="-o $(env HOME)/long_cam long/left/image_raw long/right/image_raw" />
</launch>
